@model DrippleEngine

@{
    ViewData["Title"] = "Stats";
}

<h2>Stats</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Last Payout
            </dt>
            <dd>
                @Model.LastPayout
            </dd>
            <dt>
                Token Supply
            </dt>
            <dd>
                @Model.TokenSupply
            </dd>
            <dt>
                Profit Per Share
            </dt>
            <dd>
                @String.Format("{0:0.##}", Model.ProfitPerShare)
            </dd>
            <dt>
                Total Deposits
            </dt>
            <dd>
                @Model.TotalDeposits
            </dd>
            <dt>
                Last Balance
            </dt>
            <dd>
                @String.Format("{0:0.##}", Model.LastBalance)
            </dd>
            <dt>
                Total Transactions
            </dt>
            <dd>
                @Model.TotalTransactions
            </dd>
            <dt>
                Dividend Balance
            </dt>
            <dd>
                @String.Format("{0:0.##}", Model.DividendBalance)
            </dd>
            <dt>
                Total Claims
            </dt>
            <dd>
                @Model.TotalClaims
            </dd>
        </dl>
    </div>
</div>

<hr />

<h2>Players</h2>

<table class="table table-striped table-bordered" style="text-align: center; table-layout:fixed">
    <thead>
        <tr>
            <th style="text-align: center">
                Address
            </th>
            <th style="text-align: center">
                Ammount Of Tokens
            </th>
            <th style="text-align: center">
                Payout
            </th>
            <th style="text-align: center">
                Rolls
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Player player in Model.Players)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => player.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.AmmountOfTokens)
            </td>
            <td>
                @String.Format("{0:0.##}", player.Payout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Rolls)
            </td>
        </tr>
        }
    </tbody>
</table>